[submodule "zamg-measurment-collector"]
	path = data/zamg-measurment-collector
	url = https://github.com/seasick/zamg-measurment-collector.git
	branch = main
[submodule "data/meteoblue-simulation-collector"]
	path = data/meteoblue-simulation-collector
	url = https://github.com/seasick/meteoblue-simulation-collector.git
[submodule "data/openweathermap-collector"]
	path = data/openweathermap-collector
	url = git@github.com:seasick/openweathermap-collector.git
